<h3> <%= @producer.name %> </h3>

<h4>Stages</h4>

<% if @stages.any? %>
<table style = "width:50%">
  <tr>
    <th>Click on stage to edit stage</th>
  </tr>
    <% @stages.each do |stage| %>
    <tr>
      <th><h4><a href="/producer/<%= @producer.id %>/stage/<%= stage.id%>"><%= stage.name %></a><h4></th>
    <% end %>
<% else %>
  <h4>There are no stages yet!</h4>
<% end %>
<form action ="/producer/<%= @producer.id %>/stage/new" method="post">
 <div class="form_group">
   <label for="stage_name">Stage Name:</label>
   <input class="form-control" id="stage_name" name="stage_name" type="text">
 </div>
 <br>
 <button class="btn btn-default" type="submit">Create Stage</button>
 <br>
</form>
