<div class="row">
  <div class="col-md-6">
    <h3> <%= @producer.name %> </h3>
  </div>
  <div class="col-md-6">
    <a class="btn btn-primary" href="/producer/<%= @producer.id %>" style="float: right;">Producer Page</a>
  </div>
</div>
<hr>
<form action ="/producer/<%= @producer.id %>/stage/new" method="post">
 <div class="form_group">
   <label for="stage_name">Stage Name:</label>
   <input style="width: 30%;" class="form-control" id="stage_name" name="stage_name" type="text">
 </div>
 <br>
 <button class="btn btn-default" type="submit">Create Stage</button>
 <br>
</form>

<hr>


<h4>Stages</h4>
<% if @stages.any? %>
  <h5>Click on stage to edit stage</h5>
  <% @stages.each do |stage| %>
  <h4><a href="/producer/<%= @producer.id %>/stage/<%= stage.id%>"><%= stage.name %></a><h4>
  <% end %>
<% else %>
  <h4>There are no stages yet!</h4>
<% end %>
