<div class="row">
  <div class="col-md-6">
    <h2> <%= @producer.name %> </h2>
  </div>
  <div class="col-md-6">
    <a class="btn btn-primary" href="/producer/<%= @producer.id %>" style="float: right;">Producer Page</a>
  </div>
</div>
<hr>
<h4>Artist: <%= @artist.name %></h4>
<div class="well login" style="width: 40%; border-radius: 5px;">
  <p><%= @artist.bio %></p>
</div>
<hr>
<h3>Update Artist</h3>
<div class="row">
  <div class="col-md-6">
    <form action ="/producer/<%= @producer.id %>/artist/<%= @artist.id %>/update-name" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <label for="name">Change Name:</label>
        <input class="form-control" type="text" name="name" style="width: 50%;">
      </div>
      <button class="btn btn-primary" type ="submit">Edit Name</button>
    </form>

  </div>
  <div class="col-md-6">
    <form action ="/producer/<%= @producer.id %>/artist/<%= @artist.id %>/update-bio" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <label for="bio">Change Bio:</label>
        <textarea class="form-control" type="text" name="bio"></textarea>
      </div>
      <button class="btn btn-primary" type ="submit">Edit Bio</button>
    </form>
  </div>
</div>
<br>
<form action="/producer/<%= @producer.id %>/artist/<%= @artist.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn-sm btn-danger" type="submit">DELETE ARTIST</button>
</form>













<!-- <% if @stages.any? %>
<table style = "width:15%">
  <tr>
    <th>Stages:</th>
  </tr>
  <% @stages.each do |stage| %>
  <tr>
    <th><h4><a href="/stages/<%= stage.id%>"><%= stage.name %></a><h4></th>
      <% end %>
    </tr>
  </table>
  <% else %>
  <p>There are no stages added yet. Click <a href="/producer/<%= @producer.id %>/stage/add">here</a> to go add some first
    <% end %> -->
