<div class="well style-well">
  <div class="row">
    <div class="col-md-6">
      <h2> <%= @producer.name %> </h2>
      <h4><%= @stage.name %></h4>
      <% if @stage.performances.any? %>
        <h4>Here are the artists performing on this stage:</h4>
        <ul>
          <% @stage.performances.each do |performance| %>
          <li>
            <a href="/producer/artist/<%= performance.artist.id %>"><%= performance.artist.name %></a>, <strong>Performance Time:</strong> <%= performance.performance_time %>
            <a id="icon" href="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/<%= performance.artist.id %>/delete_artist"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
          </li>
          <% end %>
        </ul>
        <p>Click <a href="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/add_artists">here</a> to add more artists.</p>
      <% else %>
        <p>This stage doesn't have any artists yet. Click <a href="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/add_artists">here</a> to add some.</p>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2>Edit Stage:</h2>
      <br>
      <div class="form-group">
        <form action="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/update" method="post">
          <input type="hidden" name="_method" value="patch">
          <label for="name">Update stage name:</label>
          <br>
          <input name="name" type="text" placeholder="Enter new stage name" class="form-control" required>
          <br>
          <button type="submit" class="btn btn-primary">Update Stage</button>
        </form>
      </div>
      <br>
      <form action="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn-danger">DELETE STAGE</button>
      </form>
    </div>
<div class="row">
  <div class="col-md-6">
    <h2> <%= @producer.name %> </h2>
    <h4><%= @stage.name %></h4>
    <% if @stage.performances.any? %>
      <h4>Here are the artists performing on this stage:</h4>
      <ul>
        <% @stage.performances.each do |performance| %>
        <li>
          <a href="/producer/artist/<%= performance.artist.id %>"><%= performance.artist.name %></a>, <strong>Performance Time:</strong> <%= performance.performance_time %>
          <a id="icon" href="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/<%= performance.artist.id %>/delete_artist"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </li>
        <% end %>
      </ul>
      <p>Click <a href="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/add_artists">here</a> to add more artists.</p>
    <% else %>
      <p>This stage doesn't have any artists yet. Click <a href="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/add_artists">here</a> to add some.</p>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Edit Stage:</h2>
    <br>
    <div class="form-group">
      <form action="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/update" method="post">
        <input type="hidden" name="_method" value="patch">
        <label for="name">Update stage name:</label>
        <br>
        <input name="name" type="text" placeholder="Enter new stage name" class="form-control" required>
        <br>
        <button type="submit" class="btn btn-primary">Update Stage</button>
      </form>
    </div>
    <br>
    <form action="/producer/<%= @producer.id %>/stage/<%= @stage.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn-danger">DELETE STAGE</button>
    </form>
  </div>
</div>
