<h1><%= @stage.name %></h1>

<div class="row">
  <div class="col-md-6">
    <% if @stage.performances.any? %>
      <h4>Here are the artists performing on this stage:</h4>
      <ul>
        <% @stage.performances.each do |performance| %>
        <li><a href="/artists/<%= performance.artist.id %>"><%= performance.artist.name %></a></li>
        <% end %>
      </ul>
      <p>Click <a href="/stages/<%= @stage.id %>/add_artists">here</a> to add more artists.</p>
    <% else %>
      <p>This stage doesn't have any artists yet. Click <a href="/stages/<%= @stage.id %>/add_artists">here</a> to add some.</p>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <form action="/stages/<%= @stage.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <h5><%= @message %></h5>
        <label for="name">Update stage name:</label>
        <br>
        <input name="name" type="text" placeholder="Enter new stage name" required>
        <button type="submit" class="btn-info">Update Stage</button>
      </form>
    </div>
    <br>
    <form action="/stages/<%= @stage.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn-danger">DELETE STAGE</button>
    </form>
  </div>
</div>
